body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

p {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.container {
    width: 600px;
    height: 688px;
    margin: 0 auto;
    background-color: #ffffff;
}

.header {
    text-align: center;
}

.logo {
    margin-top: 100px;
}

.title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #28003e;
    font-size: 32px;
    margin: 60px 0 0 0;
}

.password-description {
    margin: 40px 40px 0 40px;
}

.button-container {
    text-align: center;
    margin-top: 60px;
}

.reset-button {
    font-weight: 400;
    background-color: #8732C9;
    color: #FDFDFD;
    width: 170px;
    height: 44px;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 60px;
}

.disclaimer {
    margin: 60px 40px 0 40px;
}

.signature {
    margin: 40px 40px 0 40px;
}

@media (max-width: 768px) {
    .logo {
        margin-top: 100px;
    }
}
