@import "./_variables.scss";
@import "./libs/normalize.scss";
@import "./components/_all.scss";

.home {
  margin-top: 180px;

  &__slider-logos {
    margin: 0 150px;
  }
}

.unterline {
  text-decoration: underline;
  cursor: pointer;
}

.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $violet;
  height: 100%;
}

.goback {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.auto-button {
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;

  &[type="white"] {
    background: $white;

    &:hover {
      background-color: $violet;
    }
  }

  &[type="violet"] {
    background: $violet;
    color: $white;
    &:hover {
      background-color: $violetDark;
    }
  }
}

@media (max-width: 834px) {
  .home {
    &__slider-logos {
      margin: 0 40px;
    }
  }
}
