@import "../_variables.scss";

li {
  text-decoration: none;
  list-style: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  background-color: $gray-violet;
  padding-top: 80px;
  padding-bottom: 44px;
}

.footer-conteiner {
  width: 80%;
  margin: 0 auto;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: space-between;
  margin-bottom: 65px;
  width: 100%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-inline-start: 0;
}

.icons-li {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding-top: 80px;
  padding-bottom: 172px;
}

.clients {
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.25;
  color: $violet-400;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.25;
  color: $violet-400;
  margin-bottom: 8px;
}

.footer-txt {
  display: flex;
  justify-content: center;
  color: $violet-400;
  font-size: 12px;
}

.footer-icons {
  width: 176px;
  height: 32px;
}

.footer-contenticons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.footer-box {
  display: flex;
  flex-direction: row;
  width: 85%;
  gap: 60px;
}

.footer-box1,
.footer-box2 {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 60px;
}

@media (max-width: 820px) {
  .footer {
    &-conteiner {
      width: 90%;
    }

    &-inter1,
    &-inter2 {
      width: 50%;
    }

    &-box {
      flex-direction: column-reverse;
      width: 100%;
    }

    &-box1,
    &-box2 {
      width: 100%;
      gap: none;
    }

    &-inter1 {
      width: 60%;
    }

    &-inter2 {
      width: 40%;
    }
  }
}
