.slide-box {
  max-width: 1140px;
  margin-bottom: 112px;
}

.slider5 {
  width: 90%;
  /* border: 1px solid var(--Grey-20, #e3e3e3); */
  padding: 15px 0px;
  margin: 0 auto;
}

.slider5 .swiper-slide {
  margin-right: 24px;
}

.reviewsSlide {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 280px;
  padding: 24px;
  gap: 24px;
  border-radius: 8px;
  border: 1px solid var(--Grey-20, #e3e3e3);
  background: var(--white, #fdfdfd);

  p {
    text-decoration: none;
  }
}

.slider5 .swiper-container {
  width: 100%;
  margin-bottom: 112px;
  margin: 0 auto;
}
