[class$="__container"] {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  margin-bottom: 112px;
}
.section__container {
  position: relative;
}
.section__content {
  display: flex;
  gap: 24px;
}
.section__title {
  margin-bottom: 20px;
}

