@import "../../scss/_variables.scss";

.productCard {
  margin: 164px 10% 110px 10%;

  &__titlemenu {
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    align-items: center;
    a {
      font-size: 14px;
      color: var(--dark-grey, #30293d);
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 42px 0;

    a {
      color: var(--violet-200, #776ea4);
      cursor: pointer;
    }
  }

  .unterline {
    text-decoration: underline;
    font-weight: 700;
    color: var(--black, #28003e);
  }

  .h6 {
    margin-bottom: 20px;
  }

  &__cardBox,
  &__cardBox2 {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 80px;
  }

  &__cardBox2 {
    flex-direction: column;
  }

  &__absoluteDesktop {
    position: fixed;
    z-index: 1500;
    right: 0;
    /* top: 50%; */
  }

  &__absoluteMobileTablet {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1500;
    top: 50%;
    background: var(--white, #fdfdfd);
    box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.25);
  }

  &__cardPart1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 85px;
    margin: auto;
  }

  &__cardPart2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 68px 30px;
    border-radius: 4px;
    border: 1px solid var(--Grey-50, #bababa);
  }

  &__cardSlideAbout {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__cardPart3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__cardBlock1,
  &__cardBlock11 {
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
      span {
        color: $greyLight;
        margin-left: 16px;
      }
    }
  }

  &__colors {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 30px;
  }

  &__color1,
  &__color2,
  &__color3,
  &__color4 {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid $greyLight;
  }

  &__color1 {
    background-color: $violetDark;
  }

  &__color2 {
    background-color: $black;
  }

  &__color3 {
    background-color: $white;
  }

  &__color4 {
    background-color: $greyLight;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 30px;

    button {
      padding: 10px;
      border-radius: 4px;
      border: 1px solid var(--violet-accent, #8732c9);
      background: var(--white, #fdfdfd);

      span {
        color: $violetDark;
      }
    }
  }

  &__cardBlock2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
  }

  &__cardBlockLeft {
    display: flex;
    width: 35%;
    align-items: flex-end;
    gap: 24px;
  }

  &__cardBlockRight {
    display: flex;
    width: 55%;
    flex-direction: column;
    gap: 16px;
    p {
      font-size: 14px;
    }

    h4 {
      font-weight: 700;
    }
  }

  &__cardBlockPart1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__cardBlockPart2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      width: 45%;
    }
  }

  &__cardBlockLeft-tip {
    display: flex;
    flex-direction: column;
    width: 55px;
    height: 55px;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;

    p {
      font-size: 14px;
    }
  }

  &__cardBlockEconomy {
    display: flex;
    flex-direction: column;
  }

  &__card1 {
    display: flex;
    flex-direction: row;
    gap: 26px;
  }
  &__titleBox {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: $violetDark2;
  }
}

table {
  width: 100%;
  tr {
    height: 72px;
    border-bottom: 1px solid $greyLight;

    td {
      border-bottom: 1px solid $violet-400;

      span {
        font-weight: bold;
      }
    }
  }
}

.part1 {
  width: 40%;
  height: 0px;
}

.part2 {
  width: 60%;
  height: 0px;
}

@media (max-width: 850px) {
  .productCard {
    margin: 164px 40px 110px 40px;
    &__cardBox {
      flex-direction: column;
    }
    &__cardBlockRight {
      width: 75%;
      margin: 40px auto 0 auto;
    }
    &__cardBlock11 {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
    &__cardPart2 {
      padding: 24px 83px;
    }
  }
}

@media (max-width: 430px) {
  .productCard {
    margin: 164px 16px 110px 16px;
    &__titlemenu {
      flex-wrap: wrap;
      a {
        font-size: 12px;
      }
    }
    &__cardPart2 {
      padding: 24px 0px;
    }

    &__cardSlideAbout2 {
      width: 100%;
      height: 80px;
      gap: 10px;
      margin: 0;

      img {
        padding: 2px 20px;
        border-radius: 4px;
        border: 1px solid var(--Grey-50, #bababa);
      }
    }
    &__card1 {
      flex-direction: column;
      gap: 24px;
    }

    &__cardBlock11 {
      flex-direction: column-reverse;
    }

    &__cardBlockLeft {
      margin-bottom: 24px;
    }

    &__buttons {
      flex-wrap: wrap;
    }
  }
}
