    .filter__container{
    margin-top: 240px;
}
.filter__brand{
    display: block;
}
.filter__model{
    display: block;
}
.filter__inner{
    display: flex;
    gap: 24px;
}
.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}